
@{
    ViewBag.Title = "News";
}

<h2>News @ViewBag.name</h2>
<ul>
    @for(int i=0; i<ViewBag.numTimes; i++)
    {
        <li> @ViewBag.name</li>
    }
</ul>
<link href='https://fonts.googleapis.com/css?family=Exo+2&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<style>
    h1{
        text-align:center;
       font-family: 'Arvo', serif;
        font-size: 60px;
    }
    h2{
         font-family: 'Exo 2', sans-serif;
         font-size:29px;
    }
    p{
         font-family: 'Exo 2', sans-serif;
         text-align: justify;
    }
</style>
<h1><b>The latest news about cars</b> </h1>

<div class="row">
    <div class="col-md-4">
        <h2>Best new cars for 2016 </h2>
        <img src="../PICTURES/1.jpg"  style="width:360px;height:228px;">
        <p>TCarbuyers in 2016 have more choice than ever. All this variety can make your choice a hard one though, so to make deciding between some of these stunning vehicles. </p>
        <p><a class="btn btn-default" href="http://autoexpress.co.uk/best-cars/89189/best-new-cars-for-2016" target="_blank">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hyundai N models</h2>
        <img src="../PICTURES/7.jpg" style="width:360px;height:228px;">
        <p>Hyundai is inching closer to the launch of its own high performance identity – and the Australian arm is more than keen to grab a piece of the action. </p>
        <p><a class="btn btn-default" href="http://carsguide.com.au/car-news/hyundai-n-performance-models-one-step-closer-after-nurburgring-trial-41797" target="_blank">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lexus LC 500 coupe </h2>
        <img src="../PICTURES/3.jpg" style="width:360px;height:228px;">
        <p>The Goodwood Festival of Speed will host the UK debut of the Lexus LC. The LC 500 model will roar up the hill, thanks to its 5.0-litre naturally-aspirated V8 engine.</p>
        <p><a class="btn btn-default" href="http://autoexpress.co.uk/lexus/94016/lexus-lc-500-coupe-to-make-uk-debut-at-goodwood" target="_blank">More information &raquo;</a></p>
    </div>
</div>

<div class="row2">
    <div class="col-md-4">
        <h2>Cars - Costlier In India </h2>
        <img src="../PICTURES/4.jpg" style="width:360px;height:228px;">
        <p>The GDP might be ‘climbing,’ but so are the grain prices; even fuel rates are going through the roof and it’s now time for car buyers to bear the brunt of the Modi government’s policies, again. </p>
        <p><a class="btn btn-default" href="http://cardekho.com/india-car-news/buying-cars-becomes-costlier-in-india-again-18681.htm" target="_blank">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Strike For Fuel Prices </h2>
        <img src="../PICTURES/5.jpg" style="width:360px;height:228px;">
        <p>As part of the fortnightly revision of the fuel prices, the cost of petrol and diesel have been increased. Petrol has undergone a hike of Rs 2.58 per litre, whereas diesel has been increased by Rs 2.26 per litre. </p>
        <p><a class="btn btn-default" href="http://cardekho.com/india-car-news/strike-three-for-fuel-prices-18669.htm" target="_blank">More information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volvo Trucks </h2>
        <img src="../PICTURES/6.jpg" style="width:360px;height:228px;">
        <p>“We continuously work on developing more energy-efficient vehicles. This is a high-priority area both out of environmental concern and in order to reduce our customers’ costs,” said Claes Nilsson.</p>
        <p><a class="btn btn-default" href="http://caradvice.com.au/449288/volvo-trucks-concept-claims-30-per-cent-fuel-saving/" target="_blank">More information &raquo;</a></p>
    </div>
</div>