@{
    
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Tangerine">
<link href='https://fonts.googleapis.com/css?family=Exo+2&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>


<style>
    h1{
        font-family: 'Arvo', serif;
         font-size:50px;
         text-align:center;
    }
    h2{
        font-family: 'Exo 2', sans-serif;
         font-size:30px;
         text-align:center;
    }
    p{
        font-family: 'Exo 2', sans-serif;
        margin-top:100px;
        margin-left:70px;
        font-size:15px;
    }

</style>

<h1> <b>Contact Us </b></h1>

<h2>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you’ll find many ways to contact us right here. We’ll help you resolve your issues quickly and easily!</h2>

<div class="col-md-6">
    <img src="../PICTURES/23.png" style="width:300px;height:250px;">
</div>
<div class="row">
    <div class="col-md-6">   
        <p>
   
                Bulgaria<br />
                Plovdiv,bulevard "Bulgaria" 236-А,<br />
                Phone: 0877 432 678 <br />

                <strong>Support:</strong>   <a href="autowiki@gmail.com">autowiki@gmail.com</a><br />
                <strong>Marketing:</strong> <a href="markAutoWiki@gmail.com">markAutoWiki@gmail.com</a>        
        </p>     
    </div>   
</div>
