@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4><em>If you want to contact us please do at any time. We will be glad to help you!</em></h4>

<address>
    Bulgaria<br />
    Plovdiv,bulevard "Bulgaria" 236-А,<br />
    Phone: 0877 432 678
   
</address>

<address>
    <strong>Support:</strong>   <a href="autowiki@gmail.com">autowiki@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="markAutoWiki@gmail.com">markAutoWiki@gmail.com</a>
</address>