@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AutoWiki</h1>
    <p class="lead">Here you can find everything about the cars you like.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The 10 most expensive cars in the world </h2>
        <p>
            The most expensive cars in the world are so much more than transportation. These rolling art pieces encapsulate the priorities of the one percent, and in that universe, flamboyance and swagger take precedence over practicality and efficiency. Lifestyle criticisms aside, these are truly mind-boggling machines, and we’d like to count down our favorites for you here.

        </p>
        <p><a class="btn btn-default" href="http://www.digitaltrends.com/cars/the-top-ten-most-expensive-cars-in-the-world/#:SVw7JuLzhhKUuA" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>20 famous car logos and their history</h2>
        <p>Before brand management and public relations and marketing and advertising firms dominated the process of creating company logos, there were family crests and city flags and mistresses to draw inspiration from. Here’s a look at the history of some of the world’s most iconic car logos. </p>
        <p><a class="btn btn-default" href="http://mentalfloss.com/article/66713/stories-behind-20-famous-car-logos" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fun facts</h2>
        <p>For those who think they know everything about cars these 10 fun facts may surprise them.</p>
        <p><a class="btn btn-default" href="http://jalopnik.com/5973643/ten-surprising-car-facts-youve-probably-never-heard-before" target="_blank">Read more &raquo;</a></p>
    </div>
</div>
<div class="row2">
    <div class="col-md-4">
        <h2>Automobile History</h2>
        <p>Automobiles have been around since as early as 1769, when the first steam engine powered automobiles were produced. In 1807, Francois Isaac de Rivaz designed the first car that was powered by an internal combustion engine running on fuel gas. The journey of modern automobiles began in 1886 when German inventor Karl Benz created an automobile that featured wire wheels with a four-stroke engine fitted between the rear wheels. Named as 'Benz Patent Motorwagen', it was the first automobile that generated its own power, which is the reason why Karl Benz was given its patent and is called the inventor of modern automobiles.</p>
        <p><a class="btn btn-default" href="http://auto.ndtv.com/news/automobile-history-top-10-interesting-facts-390242" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pictures of Celebrity Cars</h2>
        <p>Celebrity Cars are just like any other car except a Celebrity is driving!  You night think this sounds crazy but attaching a celebrity's name to a car can do wonders.  At auctions such as Barrett Jackson, Celebrity Cars can fetch premiums of $10,000 - $50,000 above and beyond the market price of the car just because of celebrity ownership.</p>
        <p><a class="btn btn-default" href="http://www.celebritycarsblog.com/celebrity-cars-pictures/" target="_blank">Read more &raquo;</a></p>
    </div>
</div>