@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AutoWiki</h1>
    <p class="lead">Here you can find everything about the cars you like.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The 10 most expensive cars in the world </h2>
        <p>
            The most expensive cars in the world are so much more than transportation. These rolling art pieces encapsulate the priorities of the one percent, and in that universe, flamboyance and swagger take precedence over practicality and efficiency. Lifestyle criticisms aside, these are truly mind-boggling machines, and we’d like to count down our favorites for you here.

        </p>
        <p><a class="btn btn-default" href="http://www.digitaltrends.com/cars/the-top-ten-most-expensive-cars-in-the-world/#:SVw7JuLzhhKUuA" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>20 famous car logos and their history</h2>
        <p>Before brand management and public relations and marketing and advertising firms dominated the process of creating company logos, there were family crests and city flags and mistresses to draw inspiration from. Here’s a look at the history of some of the world’s most iconic car logos. </p>
        <p><a class="btn btn-default" href="http://mentalfloss.com/article/66713/stories-behind-20-famous-car-logos" target="_blank">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fun facts</h2>
        <p>Fot those who think they know everything about cars these 10 fun facts may surprise them.</p>
        <p><a class="btn btn-default" href="http://jalopnik.com/5973643/ten-surprising-car-facts-youve-probably-never-heard-before" target="_blank">Read more &raquo;</a></p>
    </div>
</div>